.mapContainer {
    background-color: #f8f8f8;
    width: 100%;
    border-radius: 30px;
    padding: 0px;
  }



  .map {
    height: 100ch;
    position: relative;
    border-radius: 30px;
    margin-top: 30px;
  }

.title {
    font-size: 12px !important;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px !important;
}
